.idea
log/
model/
*.tfrecord*
*/__pycache__/
*.pyc
*/*.pyc
outputs/
saved_model/
detect_seesa/
*.weights
*.csv
*.xlsx
detection/config.py
detection/config_vgg.py
detection/config_yolo.py
instance_detection/config.py
instance_detection/config_vgg.py
instance_detection/config_yolo.py
*events.out.tfevents.*
